{#
	This is the default template to view a successfull add.

	If you would like to customize it for a specific module,

	- copy the template inside the html/ folder as `<Your-Module>_add_success.html`
	- add a line `addSuccessTemplate = "<Your-Module>_add_success"` inside your module class
#}

{% extends "viur_base.html" %}
{% from "macros/skelview.html" import SkelView %}

{% block viewerFrame %}
	<div class="vi-viewer-frame" role="main">
		<div class="vi-viewer-pane has-single-child is-active">
			<h1 class="headline">{{ moduleName() }}: Entry {{ skel.key }} successfully created</h1>

			<div class="popup popup--center popup--local msg msg--success is-active">
				{{ embedSvg("icon-check") }}
				<div class="msg-content">
					<h4 class="msg-headline">Entry has been successfully created!</h4>
					<p>
						<a class="btn" href="/ava/{{ moduleName() }}/view/{{ skel.key }}">
							View entry
						</a>
					</p>
				</div>
			</div>

			{{ SkelView(skel) }}
		</div>
	</div>
{% endblock viewerFrame %}

