{#
	This is the default template to view a successfull delete.

	If you would like to customize it for a specific module,

	- copy the template inside the html/ folder as `<Your-Module>_delete_success.html`
	- add a line `deleteSuccessTemplate = "<Your-Module>_delete_success"` inside your module class
#}

{% extends "viur_base.html" %}

{% block viewerFrame %}
	<div class="vi-viewer-frame" role="main">
		<div class="vi-viewer-pane has-single-child is-active">
			<h1 class="headline">{{ moduleName() }}: Entry successfully deleted</h1>

			<div class="popup popup--center popup--local msg msg--success is-active">
				{{ embedSvg("icon-delete") }}
				<div class="msg-content">
					<h4 class="msg-headline">Entry has been successfully deleted!</h4>
					<p>
						<a class="btn" href="/{{ moduleName() }}/list">
							List entries
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock viewerFrame %}

