{#
	This is the default template to edit an entry.

	If you would like to customize it for a specific module,

	- copy the template inside the html/ folder as `<Your-Module>_edit.html`
	- add a line `editTemplate = "<Your-Module>_edit"` inside your module class
#}

{% extends "viur_base.html" %}

{% block currentModule %}
	<div class="vi-tb-currentmodul item">
		<div class="item-image">
			<i class="i">
				{{ embedSvg('test') }}
			</i>
		</div>
		<div class="item-content">
			<div class="item-subline">{{ moduleName() }}</div>
			<div class="item-headline">{{ skel["value"]["name"] if skel["value"] and skel["value"]["name"] }}</div>

		</div>

	</div>
{% endblock currentModule %}

{% block viewerFrame %}
	<div class="vi-viewer-frame" role="main">
		<div class="vi-viewer-pane has-single-child is-active">
			<form action="{{ moduleName() }}/edit" method="POST">
				<div class="vi-actionbar bar">
					<input class="btn btn--primary" type="submit">
				</div>
				{{ renderEditForm(skel) }}
			</form>
		</div>
	</div>
{% endblock viewerFrame %}
