{#
	This template is a detailed version of view.html.
	It can be triggered by appending `?style=detail` to the /module/view/key URL.
#}

{% extends "viur_base.html" %}
{% from "macros/skelview.html" import SkelView %}

{% block currentModule %}
	<div class="vi-tb-currentmodul item">
		<div class="item-image">
			<i class="i">
				{{ embedSvg('test') }}
			</i>
		</div>
		<div class="item-content">
			<div class="item-headline">{{ moduleName() }}</div>
		</div>
	</div>
{% endblock currentModule %}

{% block viewerFrame %}
	<div class="vi-viewer-frame" role="main">
		<div class="vi-viewer-pane has-single-child is-active">
			<div class="vi-actionbar bar">
				<a class="btn btn--primary" href="/{{ moduleName() }}/view/{{ skel.key }}">View</a>
			</div>

			{{ SkelView(skel, drillDepth=99, drillFull=True, options={"showHidden": True, "keyLink": "/$(module)/view/$(key)?style=detail"}) }}

		</div>
	</div>
{% endblock viewerFrame %}
